<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrnNueFj4iJeSKfmuBNjXUgGvWrOl_Fzs</string>
	<key>GCM_SENDER_ID</key>
	<string>615906944002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sys.hansung.ac.kr.-971366-yoonsung-termproject</string>
	<key>PROJECT_ID</key>
	<string>iosprogramming-ac01e</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprogramming-ac01e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615906944002:ios:e836ea17ed83f9a50a731b</string>
</dict>
</plist>